/*ROOTS*/
:root {
  /*COLORS*/
  --light-grey: rgb(250,250,250);
  --medium-lighter-grey: rgb(246,246,246);
  --medium-light-grey: rgb(222,222,222);
  --dark-grey: rgb(23, 23, 23);
  /*MEASURES*/
  --small-menu: 68px ;
  --big-menu: 120px;
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
h3 {
  font-size: 1em;
  font-weight: 400;
}
h4 {
  font-size: 0.95em;
  font-weight: 500;
}
main {
  display:flex;
}
.App {
  position:relative;
  text-align: center;
  height: 100%;
 /* display: grid;*/
  grid-template-columns: 200px calc(100% - 200px);
  grid-template-rows: 40px calc(100% - 200px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 0px;
  opacity: 0.5;
}
.SideMenu:hover::-webkit-scrollbar {
  width: 8px;
  display: flex
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #868686;
  border-radius: 6px;
  opacity: 0;
  height:24px;

}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
  opacity: 0;
}



/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
  opacity: 0;
}
.ContainerWeb {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*TOOLTIPS*/
.My-Tooltip {
  background-color: var(--light-grey);
  border-left: 1px solid rgb(220, 220, 220);
  padding: 0.25em 0.83em 0.15em 0.83em;
 border-radius:  0 24px 24px 0 ;
 transition: 100ms ease-in;
}
.My-Tooltip:hover {
  background-color: var(--light-grey);
  border-left: 1px solid rgb(220, 220, 220);
  padding: 0.25em 0.83em 0.15em 0.83em;
 border-radius:  0 24px 24px 0 ;
 background-color: #ebebeb;
}
#my-tooltip {
  font-size: 0.68em;
  font-weight: 500;
  padding: 0.6em 0.7em 0.75em;
  opacity: 0.4;
  background-color: #727272;
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
.App-header {
  position: relative;
  height:50px;
}

.App-link {
  color: #61dafb;
}
.YouTube img {
  padding: 0.3em 0 0 0;
  height: 1.5em;
  width: 6em;
  object-fit: cover;
}
/*MENU*/
.MainMenuContainer {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 14;
  height: 50px;


}
.MainMenu {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em 0.8em 0.5em 0em;
  z-index: 15;

}

.MenuContent {
  position: absolute;
  z-index: 11;
}

.AreaMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.AreaMenu .Icon {
  color: rgb(23, 23, 23);
  padding: 0.2em 0.5em 0 0.5em;
}
.Icon {
  width: 55px;
}

#IconMenu {
  margin: 8px 0px 6px 16px;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  padding: 0.4em;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: white;
  transition: 100ms ease-in-out;
}

#IconMenu:hover {
  background-color: var(--medium-light-grey);
}
/*USER AREA*/
.IconHover:hover {
  color:var(--medium-light-grey)
}
.UserArea .UserAreaIcon {
  margin:0 1px 0 0 ;
}
.UserAreaIcon{
  display: flex;
  height:40px;
  width:40px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  transition: 200ms ease-in-out;
}
.UserAreaIcon:hover{
  display: flex;
  height:40px;
  width:40px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  background-color: var(--medium-lighter-grey);
}

.InitialUser {
  position: absolute;
}
.NotificationMenu {
  position: absolute;
  margin: -1.4em 0 0 -30em;
  left: auto;
  z-index: 10;
  width: 30em;
  box-shadow: 10px 5px 25px rgba(57, 57, 57, 0.5);
  height: 70vh;
  overflow: auto;
  transition: 1s ease-in-out opacity;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
}
.NotificationMenu {
  a {
    margin: 1em;
  }
}
.NotificationTitle {
  margin: 0px;
  text-align: left;
  padding: 0.5em 0 0.8em 1em;
}

#NotificationLogoImg {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  object-fit: cover;
}
.NotificationTitleContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgb(226, 226, 226) solid;
}
.NotificationSettingIcon {
  margin: 0.6em;
  color: grey;
}
.NotificationMenuItems {
  margin: 0px;
  padding: 0.5em;
}
.NotificationMenuItems li {
  list-style-type: none;
  margin-bottom: 1.5em;
}
.NotificationMenuItem {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-gap: 1em;
  list-style-type: none;
  padding:0 0.6em 0 0.6em;

}
.NotificationContent h5{
  margin: 0px;
}

.NotificationContent p{
  text-align: left;
  font-size: 0.85em;
  color: rgb(88, 88, 88);
  margin-bottom: 1em;
}
.NotificationMenuItem img {
  width: 100px;
  height: 50px;
  border-radius: 12px;
  object-fit: cover;
}
.AreaMenu .UserAvatar {
  background-color: rgb(28, 104, 255);
  height:30px;
  width: 30px;
  border-radius: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}
.UserAvatar p {
  display: flex;
  margin: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: center;
  padding: 0.2em;
}
/*SEARCH BAR*/
.SearchBarArea {
  display: flex;
}
.ActionSearch {
  display: flex;
  margin: 0 12px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 24px;
  height:34px;
}
.FormSearch {
  height:34px
}
.SearchInput {
  padding: 0.3em 1em;
  height: -webkit-fill-available;
  width: 36vw;
  border: 0px;
  background-color: #ffffff00;

}
.SearchInput::placeholder {
  color:#929292;
  font-weight: 400;
}

.SearchInput:active {
  padding: 0.3em 1em;
  height: -webkit-fill-available;
  border: 1px solid rgb(0, 128, 255);
  box-shadow: 1px 1px 1px 0px rgba(57, 86, 182, 0.2);
  border-radius: 24px 0 0 24px;
  outline:none;
}
.SearchInput:focus {
  padding: 0.3em 1em;
  height: -webkit-fill-available;
  border: 1px solid rgb(0, 128, 255);
  box-shadow: inset 1px 1px 1px 0px rgba(57, 86, 182, 0.2);
  border-radius: 24px 0 0 24px;
  outline:none;
}
input[type="text" i] {
  padding-inline: 16px;
}
.SearchButton {
  border-radius: 0px 4px 4px 0px;
  color:var(--dark-grey);
  transition: 200ms ease-in;
}
.SearchButton:hover {
  border-radius: 0px 4px 4px 0px;
  color:var(--dark-grey);

}
.MicSearchContainer {
  background: rgb(246,246,246) ;
  border-radius: 20px;
  width: 2.3em;
    height: 2em;
    padding: 0.4em 0 0 0;
  transition: 100ms ease-in;
}
.MicSearchContainer:hover {
  background: #dfdfdf;
}
.MicSearch {
  height:1em;
  width: 1em;
  color:var(--dark-grey);
}
/*SIDEMENU*/
.black-bg {
 /* background-color: rgba(0, 0, 0, 0.3); /* Negro al 30% de opacidad */
  position: relative; /* Necesario para que la capa cubra el contenido */
  z-index: 1;
  height: 100vh;
  width: 100vw;
  /* MARGIN: -45px 0 0 0 ;*/
}
aside {
  height: 100%;
}

.SideMenu {
  position: fixed;
  display: flex;
  margin: 1px;
  z-index: 12;
  justify-content: space-between;
  height: 90vh;
  width:14em;
  overflow: auto;
  transition: 1s ease-in-out opacity;
}

.SideMenu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  margin-block-start: 0px;
  margin-block-end: 0px;
  height:90vh;
  padding-inline-start: 0px;
  background-color: rgb(255, 255, 255);
  transition: 200ms ease-in-out;
}

.SideMenuPart {
  z-index: 11;
  position: relative;
  border-bottom: var(--medium-light-grey) 1px solid;
  display: flex;
  flex-direction: column;
  padding: 0.6em 0.6em
}

.SideMenuPart:last-child {
  border: 0px solid grey;
  position: relative;
  z-index: 11;
  flex-direction: column;
  padding: 0.6em 0.6em
}
.TitleSideMenuPart {
  display: flex;
  justify-content: left;
  padding: 0.5em 2em 0.75em 1em;
  font-size: 0.95em;
  font-weight: 500;
}
.ItemSideMenu {
  display: flex;
  margin: 0 0.15em;
  padding: 0.1em 0 0.1em 0.6em;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
}
#ItemSideMenuSelected {
  background-color: var(--medium-lighter-grey);
  display: flex;
  margin: 0 0.15em;
  padding: 0.1em 0 0.1em 0.6em;
  align-items: center;
  font-weight: 500;
  border-radius: 8px;
}
#ItemSideMenuSelected:hover {
  background-color: var(--medium-light-grey);
  display: flex;
  margin: 0 0.15em;
  padding: 0.1em 0 0.1em 0.6em;
  align-items: center;
  font-weight: 500;
  border-radius: 8px;
}
#ItemSideMenuSelected .Text {
  font-weight: 500;
  color: var(--dark-grey);
}
/* .ItemSideMenu:first-child {
  display: flex;
  padding: 0.75em 0em 0.15em 1.4em;
}
.ItemSideMenu:last-child{
  display: flex;
  padding: 0.25em 0em 0.75em 1.4em;
} */
.ItemSideMenu:hover {
  background-color: var(--medium-lighter-grey);
  border-radius: 8px;
}
.ItemSideMenu .Text {
  margin: 0 0em 0em 1.2em;
  font-size: 0.8em;
  color: rgb(40, 40, 40);
}
.IconSideMenu {
  color: var(--dark-grey);
  margin-top: 2px
}
.SmallSideMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 1px;
  z-index: 10;
  justify-content: left;
  height: 100vh;
  transition: 200ms ease-in-out;
}
.SmallSideMenu ul {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0.2em;
}

.SmallSideMenu ul li {
  list-style-type: none;
  font-size: 0.75em;
  padding: 1em 0;
  cursor: pointer;
}
.SmallSideMenu ul li:hover {
  background-color: rgb(238, 238, 238);
  border-radius: 12px;}

.SmallSideMenu ul li p {
  margin: 0.2em;
}

.IconSmallSideMenu {
  color: rgb(46, 46, 46);
}

/*RECOMMENDED*/
.DashboardBigMenu {
  margin-left: 16em;
}
.DashboardSmallMenu {
  margin-left: 8em;
}
.Tags {
  height: 82px;
}
.Tags ul{
  display: flex;
  flex-direction: row;
  margin: 0em 0 0 -0.1em;
  padding: 1em 0 1.2em;
  overflow: clip;
  position: fixed;
  z-index: 12;
  background: white;
}

.Tags ul li {
  list-style: none;
  background-color: var(--medium-lighter-grey);
  border-radius: 6px;
  font-size: 0.85em;
  margin: 0 0.4em;
  padding: 0;
  transition: 200ms ease-in;
}
.Tags ul li:hover {
  list-style: none;
  background-color: var(--medium-light-grey);
  border-radius: 6px;
  font-size: 0.85em;
  margin: 0 0.4em;
  padding: 0;
  cursor: pointer;
}
.Tags ul li:first-child {
  list-style: none;
  color: white;
  background-color: var(--dark-grey);
  border-radius: 6px;
  font-size: 0.85em;
  margin: 0 0.4em;
  padding: 0;
}
.Tags ul li p {
  font-size:0.92em;
  padding: 0.1em 0.6em;
  margin: 0.3em 0.25em 0.4em;
  font-weight: 500;
  white-space: nowrap;
}
.Video {
  margin: 0 0 1em 0;
}
.ContainerRecommended {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  z-index: 8;
  position: relative;
  margin: 0 3em 0 0;
  transition: 300ms ease-in-out
}
.NotificationMenuItem {
  display: flex;
  justify-content: space-between;
}
.ImgRecomendados {
  width: 100%;
  border-radius: 12px;
}
.WrittenContentVideo {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.2em 0 0 0.6em;
}
.ContainerTitleIcon {
  display: flex;
}
.IconUser {
  width: 6vh;
  height: 6vh;
  margin: 0.4em 0 0 0;
  border-radius: 50px;
  object-fit: cover;
}
.TitleVideo {
  margin: 0;
  text-align: left;
}
.InfoVideo {
  display: flex;
}
.InfoVideo p {
  margin: 0 0.3em 0 0;
  font-size: 0.8em;
  color: #767676;
}
.UserVideo {
  margin: 0;
  font-size: 0.8em;
  color: #767676;
}

/*MORE BUTTON*/
#IconMore {

  
    border-radius: 20px;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: white;
    transition: 100ms ease-in-out;
  
}
.MoreButtonLine {
  border: solid 1px rgb(177, 177, 177);
  margin: -2em  0 0 ;
  width: 100%;
}
.MoreButtonContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}
/* .MoreButtonContainerEmpty::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b7b7b7;
  top: 100vh;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
} */
.MoreButton {
  display: flex;
  align-items: center;
  justify-content: center;

}
.MoreButtonStyleContainer {
  display: flex;
  justify-content: center;
  width: 100%;

}
.MoreButtonStyle {
  border-radius: 30px;
  border: 1px solid rgb(194, 194, 194);
  width: 18em;
  display: flex;
  padding: 0.4em 1.2em ;
  justify-content: center;
  font-size: 0.9em;
  font-weight: bold;
}

.MoreButtonStyle:hover {
  border-radius: 30px;
  border: 1px solid rgb(194, 194, 194);
  background-color: rgb(242, 242, 242);
  width: 18em;
  display: flex;
  justify-content: center;
}

.MoreButtonStyle h3{
  padding: 0;
  margin: 0 0.5em 0.2em 0;
}
.MoreButton button {
  margin: 0.2em;
  align-self: center;
  width: 100vw;
}
.MoreButtonAction {
  width: 100px;
}

/*IMGRECOMENDADOS SHOULD FIT PARENT*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*SHORTS*/
.TitleSection {
  display: flex;
  align-self: left;
}
.TitleSection h3 {
  font-weight: 600;
  font-size: 1.5em;
}
.ContainerShorts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  z-index: 8;
  position: relative;
  margin: 0 3em 0 0;
}
.ImgShorts {
  height: 22em;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
